<!DOCTYPE html>
<html>
  <head>
    <title>Empty folder</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
  	<div id="empty">
			<img src="/images/empty.png">
			<p><a href="https://www.dropbox.com/personal/Apps/dbximgs%20demo" target="_blank">go to folder</a></p> 
  	</div>
  </body>
</html>