
<!DOCTYPE html>
<html>
<head>                       
	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
	<script src="/galleria/galleria-1.5.7.min.js"></script>
	<script type='text/javascript' src='/javascripts/page.js'></script>
	<link rel="stylesheet" href="/stylesheets/page.css">
</head>
<body>
	<div class="galleria">
		{{#each imgs}}
		<img src="{{this}}">
		{{/each}}
	</div>
</body>
</html>
